#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color:white;
  background-color: black;
}

.starship-list {
  display: flex;
  flex-wrap: wrap;
}

.starship-card {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: darkcyan;
}